{% extends "base.html" %}
{% block start %}
<div class="container mt-5  ">
<h2>REGISTER PAGE</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<div>
  {% if messages %}
<ul class="messages">
    {% for message in messages %} 
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">FIRST NAME</label>
    <input type="text" class="form-control" name="first_name" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">LAST NAME</label>
    <input type="text" name="last_name" class="form-control" id="exampleInputPassword1">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">USER NAME</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <p>ALREADY HAVE ACCOUNT <a href="/login/">LOGIN</a></p>
</form>
</div>
{% endblock %}

